@import '../../local_modules/normalize.css/normalize';

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    color: #111;
    font-family: 'Lato-Regular';
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

img {
    max-width: 100%;
}

a {
    background-color: transparent;
    color: #ff6f61;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    transition-property: color;
}

.text-gray-400 {
    color: #909090 !important;
}
.text-muted {
    color: #767676 !important;
}

.heading-xxs {
    font-size: 0.8125rem;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}
.bg-light {
    background-color: #f5f5f5 !important;
}
.bg-white {
    background-color: #fff;
}
.h2,
h2 {
    font-family: 'Lato-Bold';
    font-size: 2.25rem;
}
.h6,
h6 {
    font-size: 1.25rem;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.75rem;
    font-weight: 500;
    line-height: 1.2;
}
.font-size-xs {
    font-size: 0.875rem !important;
}
.mb-3,
.my-3 {
    margin-bottom: 0.75rem !important;
}
.mb-10,
.my-10 {
    margin-bottom: 4rem !important;
}
.pl-8,
.px-8 {
    padding-left: 2.5rem !important;
}
.pr-8,
.px-8 {
    padding-right: 2.5rem !important;
}
.pb-7,
.py-7 {
    padding-bottom: 2rem !important;
}
.pt-7,
.py-7 {
    padding-top: 2rem !important;
}
.mb-7,
.my-7 {
    margin-bottom: 2rem !important;
}
.pb-12,
.py-12 {
    padding-bottom: 6rem !important;
}
.pt-12,
.py-12 {
    padding-top: 6rem !important;
}
.lift {
    transition: all 0.2s ease-in-out;
    transition-property: transform, box-shadow;

    &:focus,
    &:hover {
        transform: translateY(-0.25rem);
    }
}

.shadow-hover {
    transition: all 0.2s ease-in-out;
    transition-property: box-shadow;
    &:hover {
        box-shadow: 0 0.25rem 0.25rem rgba(17, 17, 17, 0.02),
            0 0.75rem 2.25rem rgba(17, 17, 17, 0.04) !important;
    }
}

.card > * {
    flex-shrink: 0;
}
.card-img,
.card-img-bottom,
.card-img-top {
    flex-shrink: 0;
    width: 100%;
}
.card-body {
    flex: 0 0 auto;
}
.link-underline {
    position: relative;
    display: inline-block;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-weight: 500;
    color: #111;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        border-bottom: 1px solid;
        transform-origin: left center;
        transition: all 0.2s ease-in-out;
        transition-property: transform;
    }
    &:hover {
        color: #111;
    }
    &:hover::before {
        transform-origin: right center;
        transform: scaleX(0);
    }
}
